@-webkit-keyframes floating-text {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes floating-text {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes blob-morph {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    transform: translateY(0);
  }
  20% {
    border-radius: 60% 40% 40% 60%/60% 25% 75% 40%;
    transform: translateY(0.3rem);
  }
  40% {
    border-radius: 70% 30% 65% 35%/80% 45% 55% 20%;
    transform: translateY(0.6rem);
  }
  60% {
    border-radius: 30% 70% 70% 30%/20% 30% 70% 80%;
    transform: translateY(0.9rem);
  }
  80% {
    border-radius: 40% 60% 40% 60%/70% 55% 45% 30%;
    transform: translateY(0.6rem);
  }
  100% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    transform: translateY(0.3rem);
  }
}
@keyframes blob-morph {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    transform: translateY(0);
  }
  20% {
    border-radius: 60% 40% 40% 60%/60% 25% 75% 40%;
    transform: translateY(0.3rem);
  }
  40% {
    border-radius: 70% 30% 65% 35%/80% 45% 55% 20%;
    transform: translateY(0.6rem);
  }
  60% {
    border-radius: 30% 70% 70% 30%/20% 30% 70% 80%;
    transform: translateY(0.9rem);
  }
  80% {
    border-radius: 40% 60% 40% 60%/70% 55% 45% 30%;
    transform: translateY(0.6rem);
  }
  100% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    transform: translateY(0.3rem);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #1a1a1a;
}

body {
  height: 2000px;
}

img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.text-primary {
  color: rgba(253, 239, 128, 0.87);
}

.text-secondary {
  color: rgba(240, 136, 76, 0.87);
}

.parallax-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #1a1a1a;
  position: relative;
}
.parallax-container .blob {
  filter: brightness(90%);
  width: 11rem;
  height: 11rem;
  position: absolute;
  background-image: linear-gradient(45deg, rgb(240, 136, 76) 0%, rgb(253, 239, 128) 100%);
  box-shadow: 0 0 11rem 0 rgba(240, 136, 76, 0.7), 0 0 3rem 0 rgba(253, 239, 128, 0.7);
  -webkit-animation: blob-morph 10s linear infinite;
          animation: blob-morph 10s linear infinite;
}
.parallax-container .blob:nth-child(1) {
  top: 5rem;
  left: 21rem;
}
.parallax-container .scene {
  position: absolute;
  width: 100%;
  max-height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(var(--translateY));
  will-change: transform;
  -o-object-position: left;
     object-position: left;
  transition: bottom 0.5s ease-out, opacity 0.5s ease-out !important;
  bottom: calc(100px - 80vh);
  opacity: 0;
}
.parallax-container .scene.aos-animate {
  bottom: 0;
  opacity: 1;
}
.parallax-container .title {
  z-index: 0;
  padding-top: 15vh;
  text-align: center;
  transform: translateY(var(--translateY));
  font-weight: 700;
  font-size: clamp(20pt, 8vw, 80pt);
  color: rgba(255, 255, 255, 0.87);
  font-family: "Poppins", sans-serif;
  -webkit-animation: floating-text 5s infinite;
          animation: floating-text 5s infinite;
}

#countdown {
  background-color: #1a1a1a;
}
#countdown .countdown {
  color: rgba(255, 255, 255, 0.87);
}
#countdown p {
  color: rgba(255, 255, 255, 0.5);
}

#about-us {
  text-align: center;
  position: relative;
}
#about-us .blob {
  filter: brightness(90%);
  width: 11rem;
  height: 11rem;
  position: absolute;
  background-image: linear-gradient(45deg, rgb(240, 136, 76) 0%, rgb(253, 239, 128) 100%);
  box-shadow: 0 0 11rem 0 rgba(240, 136, 76, 0.7), 0 0 3rem 0 rgba(253, 239, 128, 0.7);
  -webkit-animation: blob-morph 10s linear infinite;
          animation: blob-morph 10s linear infinite;
}
#about-us .blob:nth-child(1) {
  top: 0;
  left: 18rem;
}
#about-us > div {
  background-color: #1a1a1a;
}
#about-us p {
  color: rgba(255, 255, 255, 0.5);
}
#about-us dd {
  color: rgba(255, 255, 255, 0.5);
}

#call-to-action {
  background-color: #1a1a1a;
  text-align: center;
}
#call-to-action .flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#call-to-action a {
  background: rgba(240, 136, 76, 0.9);
  color: #1a1a1a;
}

@media screen and (max-width: 475px) {
  .title {
    top: 30vh;
  }
}/*# sourceMappingURL=style.css.map */