// $background: rgba(26, 26, 26, 0.2);
$background: transparent;
$background-secondary: rgba(240, 136, 76, 0.9);
$primary-text: rgba(#fff, 0.87);
$low-opacity-primary-text: rgba(#fff, 0.5);
$text-yellow: rgb(253, 239, 128);
$text-orange: rgb(240, 136, 76);

@keyframes floating-text {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(0.5rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes blob-morph {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        transform: translateY(0);
    }

    20% {
        border-radius: 60% 40% 40% 60% / 60% 25% 75% 40%;
        transform: translateY(0.3rem);
    }

    40% {
        border-radius: 70% 30% 65% 35% / 80% 45% 55% 20%;
        transform: translateY(0.6rem);
    }

    60% {
        border-radius: 30% 70% 70% 30% / 20% 30% 70% 80%;
        transform: translateY(0.9rem);
    }

    80% {
        border-radius: 40% 60% 40% 60% / 70% 55% 45% 30%;
        transform: translateY(0.6rem)
    }

    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        transform: translateY(0.3rem);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    background: radial-gradient(circle at center, #001358 0%, #010e42 100%);
    overflow-x: hidden;
}

body {
    height: 2000px;
}

img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.text-primary {
    color: rgba($text-yellow, 0.87);
}

.text-secondary {
    color: rgba($text-orange, 0.87);
}

.parallax-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;

    .blob {
        filter: brightness(90%);
        width: 11rem;
        height: 11rem;
        position: absolute;
        background-image: linear-gradient(45deg, $text-orange 0%, $text-yellow 100%);
        box-shadow: 0 0 11rem 0 rgba($text-orange, 0.7), 0 0 3rem 0 rgba($text-yellow, 0.7);
        animation: blob-morph 10s linear infinite;

        &:nth-child(1) {
            top: 5rem;
            left: 21rem;
        }
    }

    .scene {
        position: absolute;
        width: 100%;
        // height: 100vh;
        // min-height: 70vh;
        max-height: 80vh;
        object-fit: cover;
        transform: translateY(var(--translateY));
        will-change: transform;
        object-position: left;
        transition: bottom .5s ease-out, opacity .5s ease-out !important;
        bottom: calc(100px - 80vh);
        opacity: 0;

        &.aos-animate {
            bottom: 0;
            opacity: 1;
        }
    }

    .title-mask {
        padding-top: 15vh;
        overflow: hidden;
        transform: translateY(var(--translateY));
        will-change: transform;

        .title {
            z-index: 0;
            text-align: center;
            transform: translateY(100%);
            font-weight: 700;
            font-size: clamp(20pt, 8vw, 80pt);
            color: rgba(255, 255, 255, 0.87);
            font-family: "Poppins", sans-serif;
        animation: floating-text 5s infinite;
            transition: opacity .5s ease-out, transform .5s ease-out !important;
            opacity: 0;
        }

        &.aos-animate .title {
            opacity: .87;
            transform: none;
        }
    }
}

#countdown {
    background-color: $background;

    .countdown {
        color: $primary-text;
    }

    p {
        color: $low-opacity-primary-text;
    }
}

#about-us {
    text-align: center;
    position: relative;

    .blob {
        filter: brightness(90%);
        width: 11rem;
        height: 11rem;
        position: absolute;
        background-image: linear-gradient(45deg, $text-orange 0%, $text-yellow 100%);
        box-shadow: 0 0 11rem 0 rgba($text-orange, 0.7), 0 0 3rem 0 rgba($text-yellow, 0.7);
        animation: blob-morph 10s linear infinite;

        &:nth-child(1) {
            top: 0;
            left: 18rem;
        }
    }

    &>div {
        background-color: $background;
    }

    p {
        color: $low-opacity-primary-text;
    }

    dd {
        color: $low-opacity-primary-text;
    }
}

#call-to-action {
    background-color: $background;
    text-align: center;

    .flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    a {
        background: $background-secondary;
        color: #1a1a1a;
    }
}

@media screen and (max-width: 475px) {
    .title {
        top: 30vh;
    }
}