@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(101%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(101%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    overflow: hidden !important;
    // HACK: This is really bad practice!
}

html {
    overflow-y: auto !important;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(0, 0, 0, .6);
    font-family: "Montserrat", sans-serif;

    .nav-wrapper {
        padding: 2rem 3rem;
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        a {
            color: #fff;
        }

        .navbar-section {
            display: inline-block;
        }

        .menu-text {
            display: none;
            position: absolute;
            top: 2rem;
            left: 6rem;

            &.show {
                display: inline-block;
            }
        }

        .hamburger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 2rem;
            height: 21px;

            .bar {
                height: 3px;
                width: 100%;
                background: rgba(#fff, 0.8);
            }

            &:hover {
                .bar {
                    background: #fff;
                }
            }

            &.clicked {
                justify-content: center;
                overflow: hidden;

                .bar:nth-child(2) {
                    display: none;
                }

                .bar:nth-child(1) {
                    transform: rotate(45deg) translateY(2px);
                }

                .bar:nth-child(3) {
                    transform: rotate(-45deg) translateY(-2px);
                }
            }
        }

        .navbar-links {
            display: none;
            position: absolute;
            top: 2.15rem;
            left: 6rem;

            &.show {
                display: inline-block;
            }

            ul {
                display: flex;
                flex-direction: row;
                list-style: none;

                li {
                    display: inline-block;

                    a:hover {
                        color: #fff;
                    }

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        margin-right: 2rem;
                    }
                }
            }

            &.show {
                display: flex;
            }
        }
    }
}



.section-hero {
    position: relative;
    width: 100%;
    height: calc(100vh + 5rem);

    .bg {
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        background: url("https://familyofficenetworks.com/wp-content/uploads/2020/11/techR.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: 0 var(--translateY);
        filter: brightness(0.8);
    }

    .bg-overlay {
        background: linear-gradient(0deg, rgba(0, 0, 0, .6) 10%, rgba(0, 0, 0, .2) 40%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        height: 100%;
    }

    .catchphrase {
        &::after {
            content: '';
            width: 2px;
            height: 0;
            display: block;
            position: absolute;
            margin-top: 2rem;
            left: 50%;
            background: rgba(200, 200, 200, 0.6);
            transform-origin: top;
            transition-delay: 1s;
        }

        .word-2 {
            font-weight: 500;
            color: #ff5722;
        }

        .word-4 {
            font-family: 'Exo 2', sans-serif;
            color: #00ff66;
            text-shadow: 0 0 12px #00ff66;
            font-weight: 700;
        }


    }

    .gallery {
        position: absolute;
        left: 0;
        overflow-x: visible;
        overflow-y: hidden;
        bottom: 5rem;
        height: 20rem;
        display: flex;
        transform: translateX(var(--translateX));

        .item {
            min-width: 24.4rem;
            height: 100%;
            margin: 0 8rem 0 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            animation: slide-left 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s both;
            animation-delay: calc(200ms * var(--index) + 200ms);


            .container-img {
                border-radius: 6.9rem;
                width: 100%;
                height: 57%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .label {
                text-align: center;
                display: block;
                font-family: "Montserrat", sans-serif;
                font-size: 1.6rem;
                margin-top: 2rem;
                color: #fff;
            }
        }
    }
}

.section-pitch {
    position: relative;
    // padding: 21.5rem 4.3rem 38rem 4.3rem;
    padding-bottom: 25rem;

    .container {
        width: 100%;
        height: auto;
        overflow: visible !important; // HACK

        .catchphrase {
            // position: absolute;
            // top: 5rem;
            // left: 50%;
            // transform: translateX(-50%);
            width: 100%;

            .line-2 {
                color: #ff5722;
                font-style: italic;
            }

            .line-3 {
                position: relative;
                z-index: 1000;
            }
        }

        .container-img {
            display: flex;
            width: 20vw;
            height: 33vw;
            margin: -12rem auto 10rem auto;
            z-index: 2;
            visibility: visible !important;
            overflow: visible !important;
            -webkit-transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            -moz-transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            -ms-transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            -o-transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transition-delay: 0s;
            transform: translateY(var(--translateY));
            will-change: transform;

            &:after {
                content: '';
                width: 1px;
                height: 14.6vw;
                display: block;
                background: #ffffff;
                position: absolute;
                top: auto;
                right: auto;
                bottom: -7.9vw;
                left: 50%;
                z-index: 3;
                transform-origin: top;
                transform: translateX(-50%) scaleY(0);
                -webkit-transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -moz-transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -ms-transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -o-transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 0s;
            }

            .wrapper-mask {
                overflow: hidden;
                border-radius: 0;
                transform: translateY(50%) scaleX(1.3);
                -webkit-transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -moz-transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -ms-transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -o-transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 0s;

                img {
                    height: 100%;
                    width: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    -o-object-position: center top;
                    object-position: center top;

                    border-radius: 0;
                    transform-origin: center;
                    transform: scale(1.3) rotate(0.001deg);
                    -webkit-transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    -moz-transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    -ms-transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    -o-transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    transition: all 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    transition-delay: 0s;
                }
            }
        }

        .catchphrase.aos-animate+.container-img {
            &:after {
                transform: translateX(-50%) scaleY(1);
                -webkit-transition: all 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -moz-transition: all 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -ms-transition: all 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -o-transition: all 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition: all 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 0s;
                transition-delay: 0.9s;
            }

            .wrapper-mask {
                border-radius: 14.5rem;
                transform: translateY(0) scaleX(1);
                -webkit-transition: all 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -moz-transition: all 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -ms-transition: all 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -o-transition: all 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition: all 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 0s;

                img {
                    transform: scale(1) rotate(0.001deg);
                    -webkit-transition: all 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    -moz-transition: all 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    -ms-transition: all 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    -o-transition: all 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    transition: all 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    transition-delay: 0s;
                    transition-delay: 0.2s;
                }
            }
        }
    }

    .text-container {
        margin-top: 22.2rem;
        overflow: visible !important;

        p {
            color: #ffffff;
            margin: -6.2rem auto 0 auto;
            max-width: 50ch;
            text-align: center;
            font-size: 1rem;
            font-weight: 300;
            line-height: 2;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url("../img/bg-02.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        filter: hue-rotate(225deg) saturate(1.5);
        z-index: -1;
    }
}

.catchphrase {
    font-size: 5rem;
    margin: 12rem auto auto 0;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 400;
    overflow: hidden;

    .word {
        opacity: 0;
    }

    .wrapper-mask {
        display: block;
        padding-bottom: .20ch;
        margin-bottom: -.20ch;
        padding-top: .20ch;
        margin-top: -.20ch;
        padding-left: 0.2ch;
        padding-right: 0.2ch;
        margin-left: -0.2ch;
        margin-right: -0.2ch;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .wrapper-mask:not(:first-of-type) {
        margin-top: -0.4em;
    }
}

.catchphrase.aos-animate {
    &::after {
        height: 8rem;
    }

    .word {
        display: inline-block;
        animation: slide-up 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s both;
        animation-delay: calc(200ms * var(--index) + 200ms);
    }
}