nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(0, 0, 0, .6);
    font-family: "Montserrat", sans-serif;

    a {
        text-decoration: none;
        font-size: 1.3rem;
    }

    .nav-wrapper {
        padding: 2rem 3rem;
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        a {
            color: #fff;
            opacity: 0.87;
        }

        .navbar-section {
            display: inline-block;
            overflow: visible !important;

            &.navbar-section-logo {
                .logo {
                    position: relative;
                    overflow: visible !important;
                    text-transform: uppercase;
                    &::before, &::after {
                        content: ' ';
                        display: block;
                        width: 10vw;
                        height: 2px;
                        background: red;
                        position: absolute;
                        top: 50%;
                    }
                    &::before {
                        transform: translate(-100%, -50%);
                    }
                    &::after {
                        left: 100%;
                    }
                }
            }
        }

        .menu-wrap {
            position: absolute;
            top: 2rem;
            left: 6rem;
            height: 25px;
            width: 12ch;
        }

        .menu-text {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(100%);
            opacity: 0;
            transition: transform .6s .2s, opacity .6s .2s, color .3s .2s;
        }

        .hamburger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 18px;
            height: 14px;

            .bar {
                height: 1px;
                width: 100%;
                background: rgba(#fff, 0.8);
                transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }

            &:hover {
                .bar {
                    background: #fff;
                }
            }

            &.clicked {
                justify-content: center;
                overflow: hidden;

                .bar:nth-child(2) {
                    opacity: 0;
                }

                .bar:nth-child(1) {
                    transform: rotate(45deg) translateY(2px);
                }

                .bar:nth-child(3) {
                    transform: rotate(-45deg) translateY(-2px);
                }
            }
        }

        .navbar-links {
            display: none;
            position: absolute;
            top: 2.15rem;
            left: 6rem;

            &.show {
                display: inline-block;
            }

            ul {
                display: flex;
                flex-direction: row;
                list-style: none;

                li {
                    display: inline-block;

                    a {
                        color: #ababab;

                        &:hover {
                            color: #fff;
                        }
                    }

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        margin-right: 2rem;
                    }
                }
            }

            &.show {
                display: flex;
            }
        }
    }

    &[data-get-section="hero"] .nav-wrapper .navbar-links ul li a.link-hero,
    &[data-get-section="pitch"] .nav-wrapper .navbar-links ul li a.link-pitch {
        color: #fafafa;
    }

    &[data-get-section="hero"] .nav-wrapper .menu-text-menu,
    &[data-get-section="pitch"] .nav-wrapper .menu-text-pitch {
        transform: none;
        opacity: 1;
        transition-delay: 0.3s, 0.3s, 0.3s;
    }
}
